* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(200, 200, 200);
}

body {
    background-color: rgb(60, 60, 60);
}

/*  MENUS DE NAVEGAÇÃO   */

#menuNavegacao {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    align-items: center;
    border-right: solid 2px rgb(200, 200, 200);
}

#menuNavegacao h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

#menuNavegacao nav ul li {
    margin-bottom: 0.3em;
    list-style: none;
}

#menuNavegacao nav ul li a {
    font-size: 1.5em;
    text-transform: lowercase;
    text-decoration: none;
}

/*  PÁGINAS DE EXERCÍCIO    */

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3em;
    border-bottom: solid 2px rgb(200, 200, 200);
}

header nav {
    margin-left: 1em;
}

header nav a {
    font-size: 1em;
    text-transform: lowercase;
    text-decoration: none;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    margin: 5em auto 0 auto;
}

.conteudoAltNoHTML {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudoAltNoHTML h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.conteudoEntrada {
    display: flex;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: space-evenly;
}

.conteudoEntrada input {
    width: 95%;
    height: 2em;
    max-width: 95%;
    max-height: 2em;
    box-sizing: border-box;
    padding: 0 1em 0 1em;
    background-color: rgba(200, 200, 200, 0.5);
    color: rgb(30, 30, 30);
    border: none;
    border-bottom: solid 1px rgb(30, 30, 30);
    border-radius: 10px;
    font-size: 1.5em;
}

.conteudoEntrada input:hover {
    background-color: rgba(200, 200, 200, 1);
}

.conteudoEntrada input:focus {
    background-color: rgba(200, 200, 200, 1);
    color: rgb(30, 30, 30);
    border: none;
    border-bottom: solid 3px rgb(30, 30, 30);
    outline: none;
    font-size: 1.5em;
}

.conteudoEntrada button {
    width: 5%;
    height: 2em;
    max-width: 5%;
    max-height: 2em;
    background-color: rgba(55, 70, 211, 0.5);
    font-size: 1em;
    font-weight: bold;
    color: rgb(230, 230, 230);
    border: none;
    border-bottom: solid 3px rgb(30, 30, 30);
    border-radius: 10px;
}

.conteudoEntrada button:hover {
    background-color: rgba(55, 70, 211, 1);
    cursor: pointer;
}

.conteudoEntrada button:focus {
    background-color: rgba(55, 70, 211, 1);
    outline: none;
}

.conteudoAcoes {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: space-between;
}

.conteudoAcoes button {
    width: 20%;
    height: 3em;
    background-color: rgba(55, 70, 211, 0.5);
    font-size: 1em;
    color: rgb(230, 230, 230);
    border: none;
    border-bottom: solid 3px rgb(30, 30, 30);
    border-radius: 10px;
}

.conteudoAcoes button:hover {
    background-color: rgba(55, 70, 211, 1);
    cursor: pointer;
}

.conteudoAcoes button:focus {
    background-color: rgba(55, 70, 211, 1);
    outline: none;
}

.conteudoAcoes #listaItens {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1em 1em 1em 6em;
}

.conteudoAcoes #listaItens p {
    margin-bottom: 0.5em;
}

.divItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divItem button {
    width: 5%;
    height: 2em;
    max-width: 5%;
    max-height: 2em;
    background-color: rgba(236, 13, 13, 0.5);
    font-size: 1em;
    font-weight: bold;
    color: rgb(230, 230, 230);
    border: none;
    border-bottom: solid 3px rgb(30, 30, 30);
    border-radius: 10px;
}

.divItem button:hover {
    background-color: rgba(236, 13, 13, 1);
    cursor: pointer;
}

.divItem button:focus {
    background-color: rgba(236, 13, 13, 1);
    outline: none;
}

.conteudo .conteudoEntrada .formulario {
    display: flex;
    flex-direction: column;
}

/* SEMANA 5 */

.tituloEx5 {
    font-size: 2em;
}

#descricaoTarefa {
    height: 3em;
    min-height: 3em;
}

#sectionAdicionarTarefa {
    display: flex;
    flex-direction: column;
}

#areaGerenciamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaTarefas {
    width: 95%;
    margin: 1em 0 2em 0;
    padding-top: 0.2em;
    color: rgb(30, 30, 30);
    visibility: hidden;
}

#btnAdicionarTarefa {
    width: 95%;
    min-height: 3em;
}

.divTarefa {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3em;
    margin-top: 0.3em;
    background-color: rgba(223, 211, 211, 0.774);
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.divTituloTarefa {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
    width: 60%;
    max-width: 60%;
    box-sizing: border-box;
}

.divTarefaBotoes {
    display: flex;
    width: 40%;
    max-width: 40%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    font-size: 0.6em;
    font-weight: bold;
}

.btnDetalhes {
    width: 30% !important;
    height: 1em;
    background-color: rgba(0, 0, 255, 0.7) !important;
}

.btnConcluir {
    width: 30% !important;
    height: 1em;
    background-color: rgba(0, 128, 0, 0.7) !important;
}

.btnRemover {
    width: 30% !important;
    height: 1em;
    background-color: rgba(255, 0, 0, 0.7) !important;
}

.statusConcluida {
    font-weight: bold;
    color: green;
    text-decoration: line-through;
}

.statusPendente {
    font-weight: bold;
    color: black;
}

.divDetalhes {
    width: 100%;
    height: 3em;
}

.detalhesTarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 3em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-sizing: border-box;
    background-color: rgba(223, 211, 211, 0.849);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.detalhesTarefa p {
    color: rgba(0, 0, 0, 0.74);
    text-align: justify;
}